<%inherit file="base.html" />
<%def name="online_help_token()"><% return "plugins" %></%def>
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%block name="title">${_("Plugins")}</%block>
<%block name="bodyclass">is-signedin course plugins view-outline</%block>

<%namespace name='static' file='static_content.html'/>

<%block name="header_extras">
% for template_name in ["plugins-library", "plugins", "paging-header", "paging-footer"]:
<script type="text/template" id="${template_name}-tpl">
    <%static:include path="js/${template_name}.underscore" />
</script>
% endfor
</%block>

<%block name="requirejs">
    require(["js/factories/plugins_index"], function (PluginsIndexFactory) {
        PluginsIndexFactory({
          pluginsCallbackUrl: "${plugins_callback_url}",
        });
    });
</%block>

<%block name="content">

<div class="wrapper-mast wrapper">
    <header class="mast has-actions has-subtitle">
        <h1 class="page-header">
            <small class="subtitle">${_("Settings")}</small>
            <span class="sr">&gt; </span>${_("Plugins")}
        </h1>

        <nav class="nav-actions" aria-label="${_('Page Actions')}">
            <h3 class="sr">${_("Page Actions")}</h3>
            <ul>
                <li class="nav-item">
                    <a href="#" class="button upload-button new-button"><i class="icon fa fa-plus"></i> ${_("Upload New File")}</a>
                </li>
            </ul>
        </nav>
    </header>
</div>

<div class="wrapper-content wrapper">
    <section class="content">
        <article class="content-primary" role="main">
            <div class="wrapper-plugins" />
            <div class="ui-loading">
              <!--<p><span class="spin"><i class="icon fa fa-refresh"></i></span> <span class="copy">${_("Loading")}</span></p>-->

                <div style="text-align: left">List of available plugins:
                  ${available_plugins}
                </div>
            </div>

        </article>

        <aside class="content-supplementary" role="complementary">
            <div class="bit">
                <h3 class="title-3">${_("Selecting Plugins for Your Course")}</h3>

                <p>${_("You can select available plugins (such as XBlocks) for your course.")}</p>
            </div>
            <div class="bit external-help">
                <a href="${get_online_help_info(online_help_token())['doc_url']}" target="_blank" class="button external-help-button">${_("Learn more about managing plugins")}</a>
            </div>

        </aside>
    </section>
</div>

</%block>
